@import "tailwindcss";

@theme {
  --color-mint-500: oklch(0.72 0.11 178);
  --color-primary: oklch(0.28 0 0);
  --color-secondary: oklch(0.94 0.19 125);
  --color-textPrimary: oklch(1 0 0);
  --color-textSecondary: oklch(0.28 0 0);
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
  width: 100%;
}
